<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.board.mapper.CommentMapper">

    <select id="getCommentList" resultType="CommentVO">
        SELECT
            c.comment_seq       AS commentSeq,
            c.user_seq          AS userSeq,
            u.user_name         AS userName,
            c.board_seq         AS boardSeq,
            c.comment_content   AS commentContent,
            c.comment_writedate AS commentWritedate,
            c.comment_update    AS commentUpdate
        FROM comment c
        JOIN user u ON c.user_seq = u.user_seq
        WHERE c.board_seq = #{boardSeq}
        ORDER BY c.comment_writedate ASC
    </select>

    <insert id="insertComment" useGeneratedKeys="true" keyProperty="commentSeq">
        INSERT INTO comment (user_seq, board_seq, comment_content)
        VALUES (#{userSeq}, #{boardSeq}, #{commentContent})
    </insert>

    <update id="updateComment">
        UPDATE comment
        SET comment_content = #{commentContent}
        WHERE comment_seq = #{commentSeq}
    </update>

    <delete id="deleteComment">
        DELETE FROM comment
        WHERE comment_seq = #{commentSeq}
    </delete>
</mapper>
